<ngx-spinner bdColor="rgba(123,31,162,0.73)" size="medium" color="#69f0ae" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="openBucket()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <div *ngFor="let group of groups" class="list-item" (click)="filterDishes(group.dishes)">
        <mat-list-item>{{group.category}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-dishes *ngIf="this.filtredDishes.length" [dishes]="this.filtredDishes" (onAdd)="addToBusket($event)">
    </app-dishes>
  </mat-drawer-content>
</mat-drawer-container>
